gunicorn==19.3.0
Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.10.4
certifi==2015.9.6.2
elasticsearch==1.7.0
itsdangerous==0.24
pyelasticsearch==1.4
requests==2.8.0
simplejson==3.8.0
six==1.10.0
urllib3==1.26.5
wsgiref==0.1.2
